<nav{{ attributes }}>
  {% if items %}
    <ul{{ menu_attributes }}>
      {% for item in items %}
        <li{{ item.attributes }}>
          <a href="{{ item.url }}"{{ item.link_attributes }}>
            {{ item.title }}
          </a>
          {% if item.below %}
            <ul{{ item.below.attributes }} class="second-level-menu">
              {% for subitem in item.below %}
                <li{{ subitem.attributes }}>
                  <a href="{{ subitem.url }}"{{ subitem.link_attributes }}>
                    {{ subitem.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</nav>



