<div>
    <section>
        <div>
            <div>
                <h2><strong>{{content.field_image_title}}</h2>
                <div>{{content.field_view_all}}</div>
                <div>
                    <div>{{content.field_about_usimage}}</div>
                    <div>{{content.field_body_description}}</div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div>
            <h2>{{content.field_body_title}}</h2>
            <div>{{content.body}}</div>
            <div>{{content.field_read_more}}</div>
        </div>
    </section>
</div>
