{{dump(content)}}contentcontent
<div>
    <div>
        <div>
           {{ content.field_video_thumb }}
        </div>
        <div><span><a href={{ url }} hreflang="en">{{ label }}</a></span></div>
        {# <div>
            <div>{{ content.field_contributor }}</div>
        </div>
        <div>{{content.field_video}}</div> #}
    </div>
</div>
