<div>
    <div>
        <div>
           {{ content.field_image }}
        </div>
        <div><span><a href={{ url }} hreflang="en">{{ label }}</a></span></div>
        <div>
            <div>{{ content.field_title }}</div>
        </div>
        <div>
            <div>
                <p>{{ content.body }}</p>
            </div>
        </div>
        <div><span><a href={{ url }} hreflang="en">Read more</a></span></div>
    </div>
</div>
